body {

  background-color: #00596B;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px

}

h1 {
  font-size: 3.906em; /* 50px */
  line-height: 120%

}

h3 {
  font-size: 1.6em; /* 25 px */
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 150%
}

p {
  font-size: 100%; /* 16px */
  padding-bottom: 10px;
  line-height: 150%
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 50%;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

figcaption {
  width: 50%;
  line-height: 150%;
  padding-bottom: 25px;
  font-style: italic;

}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;

}

a {
  text-decoration: none;
}

a:link { color:#ffd700; } /* unvisited */
a:visited { color:#FFADE1; } /* visited */
a:hover { color:#FFFFFF; } /* mouse over */
a:active { color:#FFADE1; } /* selected */


.container {
  margin: 0 auto;
  width: 75%;
  max-width: 960px;
}
